@use 'common/variables' as *;
@use 'common/mixins' as *;

h2.subTitle {
  border-top: 1px solid #ccc;
  padding: 3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
}

.eventLogWrapper {
  @include flexArea($gap: 3rem, $width: 100%, $align: flex-start);
  padding: 0 3rem 3rem;
  section.secLeft {
    flex: 2.5;
    min-width: 102rem;
    position: relative;
    .selectSorting {
      position: absolute;
      top: 0;
      right: 0;
      .MuiSelect-root {
        .MuiSelect-select {
          background: #fff url('../../assets/images/icon/sort.png') right 1rem center / 1.5rem 1.2rem no-repeat;
          width: 9.5rem;
          padding: 0.5rem 3.2rem 0.5rem 1rem;
          box-shadow: none;
        }
      }
    }
  }
  section.secRight {
    flex: 1;
  }
}
