@use 'common/variables' as *;
@use 'common/mixins' as *;

.dialogCont {
  &.wide {
    .MuiPaper-elevation {
      width: 111rem;
      max-width: 111rem;
    }
  }
  &.full {
    .MuiPaper-elevation {
      width: calc(100% - 6rem);
      max-width: calc(100% - 6rem);
      height: 84rem;
    }
    .monitoring {
      height: 64rem;
    }
  }
  .MuiPaper-elevation {
    width: 65rem;
    padding: 2rem 3rem 3rem;
    .modalWrapper {
      .tit {
        @include flexArea($gap: 1rem, $justify: space-between);
        font-size: 2.4rem;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 1rem;
        // border-bottom: 1px dashed var(--co-border);
        .btnClose {
          padding: 1rem;
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .contents {
        font-size: 1.6rem;
        white-space: pre-line;
      }
      .bottom {
        @include flexArea($gap: 1rem, $justify: flex-end);
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px dashed var(--co-border);
        button {
          font-size: 1.6rem;
          padding: 1rem 2rem;
          border: 1px solid var(--co-border);
          &.negative {
            background-color: var(--co-grayLight);
          }
          &.positive {
            background-color: var(--co-primary);
            color: var(--co-white);
            border: none;
          }
        }
      }
      &.dtlInfo {
        .tit {
          .right {
            @include flexArea;
            .temp {
              @include flexArea($gap: 0.4rem);
              font-size: 2.4rem;
              line-height: 1;
              font-weight: 400;
              color: #555;
              > span {
                color: #aaa;
              }
              > strong {
                color: #007bff;
              }
            }
          }
        }
        .contents {
          @include flexArea($gap: 1rem, $wrap: wrap, $align: stretch);
          > dl {
            @include flexArea($width: 100%, $direction: column, $align: flex-start);
            + dl {
              margin-top: 2rem;
            }
            dt {
              width: 100%;
              h5 {
                font-size: 1.4rem;
              }
            }
            dd {
              width: 100%;
            }
          }
          .infoItem {
            width: calc(50% - 0.5rem);
            padding: 1rem;
            border-radius: 0.6rem;
            background-color: #f1f1f1;
            border: 1px solid #ddd;
            font-size: 1.4rem;
            dl {
              dt {
                @include flexArea($justify: space-between);
                > strong {
                  font-weight: 500;
                  font-size: 1.6rem;
                }
                .chip {
                  font-size: 1.4rem;
                  font-weight: 500;
                  width: 6rem;
                  text-align: center;
                  padding: 0;
                  border-radius: 0.5rem;
                  color: #fff;
                  &[data-type='ongoing'] {
                    background-color: var(--state-ongoing);
                  }
                  &[data-type='stop'] {
                    background-color: var(--state-alarm);
                  }
                  &[data-type='completion'] {
                    background-color: var(--state-completion);
                  }
                  &[data-type='available'] {
                    background-color: var(--state-available);
                  }
                }
              }
              dd {
                color: #666;
                margin-top: 0.6rem;
                background-color: #fff;
                padding: 1rem;
                font-size: 1.2rem;
                border-radius: 0.5rem;
                p {
                  + p {
                    margin-top: 1rem;
                  }
                }
                strong {
                  color: var(--co-black);
                  font-weight: 500;
                }
              }
            }
          }
          .memoTotal {
            position: relative;
            margin-top: 1rem;
            dt {
              font-size: 1.8rem;
              font-weight: 600;
            }
            dd {
              .memoTextarea {
                @include flexArea($direction: column, $width: 100%);
                border-radius: 0.6rem;
                border: 1px solid #ccc;
                background-color: #fff;
                padding: 1rem;
                margin-top: 0.4rem;
                @include trans;
                &:has(textarea:read-only) {
                  background-color: #f9f9f9;
                }
                textarea {
                  width: 100%;
                  border: none;
                  background-color: transparent;
                  line-height: 1.5;
                  &:focus {
                    outline: none;
                  }
                }
                .btnWrap {
                  @include flexArea($gap: 0.4rem, $justify: flex-end, $width: 100%);
                  margin-top: 1rem;
                  button {
                    padding: 0.5rem 1rem;
                    border-radius: 0.4rem;
                    right: 1rem;
                    bottom: 1rem;
                    line-height: 1;
                    font-size: 1.2rem;
                    align-items: center;
                    justify-content: center;
                    &.btnMod {
                      right: 6rem;
                      background-color: var(--co-primary);
                      color: var(--co-white);
                    }
                    &.btnConfirm {
                      background-color: var(--co-black);
                      color: var(--co-white);
                    }
                    &.btnDel {
                      color: var(--co-white);
                      background-color: var(--co-red);
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.chartZoom {
        .topState {
          border: none;
          padding: 0;
          margin: 0;
          box-shadow: none;
          min-width: auto;
          .left {
            min-width: auto;
            .chartWrap {
              width: 18.8rem !important;
              height: 20.8rem !important;
              &:nth-child(2) {
                width: 35rem !important;
                height: 20.8rem !important;
              }
              &:nth-child(3) {
                width: 40rem !important;
                height: 20.8rem !important;
              }
            }
          }
        }
      }
    }
  }
}
