@use 'common/variables' as *;
@use 'common/mixins' as *;

.dialogCont {
  .MuiPaper-elevation {
    width: 65rem;
    padding: 2rem;
    .modalWrapper {
      .tit {
        @include flexArea($gap: 1rem, $justify: space-between);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px dashed var(--co-border);
        .btnClose {
          padding: 1rem;
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .contents {
        font-size: 1.6rem;
        white-space: pre-line;
      }
      .bottom {
        @include flexArea($gap: 1rem, $justify: flex-end);
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px dashed var(--co-border);
        button {
          font-size: 1.6rem;
          padding: 1rem 2rem;
          border: 1px solid var(--co-border);
          &.negative {
            background-color: var(--co-grayLight);
          }
          &.positive {
            background-color: var(--co-primary);
            color: var(--co-white);
            border: none;
          }
        }
      }
      &.dtlInfo {
        .tit {
          .temp {
            color: var(--co-primary);
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .contents {
          @include flexArea($gap: 1rem, $wrap: wrap, $align: stretch);
          > dl {
            @include flexArea($width: 100%, $direction: column, $align: flex-start);
            + dl {
              margin-top: 2rem;
            }
            dt {
              width: 100%;
              h5 {
                font-size: 1.4rem;
              }
            }
            dd {
              width: 100%;
            }
          }
          .infoItem {
            width: calc(50% - 1.5rem);
            padding: 2rem 1.5rem;
            border-radius: 0.8rem;
            background-color: #f1f1f1;
            font-size: 1.4rem;
            dl {
              dt {
                @include flexArea($justify: space-between);
                .chip {
                  font-size: 1.1rem;
                  padding: 0.2rem 0.5rem;
                  border-radius: 0.4rem;
                  &[data-type='ongoing'] {
                    background-color: rgba(69, 209, 65, 0.05);
                    color: #45d141;
                  }
                  &[data-type='stop'] {
                    background-color: rgba(233, 57, 53, 0.05);
                    color: #e93935;
                  }
                  &[data-type='completion'] {
                    background-color: rgba(34, 177, 245, 0.05);
                    color: #22b1f5;
                  }
                  &[data-type='available'] {
                    background-color: #f1f1f1;
                    color: #333;
                  }
                }
              }
              dd {
                color: #666;
                strong {
                  color: var(--co-black);
                  font-weight: 500;
                }
              }
            }
          }
          .memoTotal {
            position: relative;
            margin-top: 2rem;
            dt {
            }
            dd {
              .memoTextarea {
                border-radius: 0.5rem;
                border: 1px solid #ccc;
                padding: 1rem 1rem 3.5rem 1rem;
                textarea {
                  width: 100%;
                  border: None;
                }
                button {
                  position: absolute;
                  color: var(--co-white);
                  background-color: var(--co-red);
                  padding: 0.5rem 1rem;
                  border-radius: 0.4rem;
                  right: 1rem;
                  bottom: 1rem;
                  line-height: 1;
                  font-size: 1.2rem;
                  align-items: center;
                  justify-content: center;
                  &.btnMod {
                    right: 6rem;
                    background-color: var(--co-primary);
                    color: var(--co-white);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
