:root {
  // size reset
  font-size: 10px;
  --min-width: 180rem;

  // breakpoint
  --breakpoint: 768px;

  // basic color
  --co-body: #000;
  --co-background: #f9f9f9;
  --co-border: #bbb;
  --co-dim: rgba(0, 0, 0, 0.6);

  --co-primary: #5b9bd5;
  --co-secondary: #ed7d31;
  --co-tertiary: #c00000;

  --co-black: #000;
  --co-white: #fff;
  --co-gray: #666;
  --co-grayDark: #333;
  --co-grayLight: #f1f1f1;

  --co-red: #ff0000;
  --co-blue: #163072;
  --co-green: #86a315;
  --co-yellow: #86a315;

  // project added
  --state-charge: #ffd1cc;
  --state-discharge: #cce5f4;
  --state-rest: #fff5cc;
  --state-rest-iso: #e6ffcc;
  --state-pattern: #e6d5ed;
  --state-balance: #76f589;
  --state-chargemap: #ffdcec;

  --state-rest: #7e8189;
  --state-ongoing: #4c9e6f;
  --state-alarm: #ba4335;
  --state-stop: #f3e996;
  --state-stop2: #9c9200;
  --state-completion: #487de1;

  --state-available: var(--co-gray);
}
